body {
  font-family: Arial, sans-serif;
}

form {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 30%;
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: darkblue;
}

nav {
  background: #333;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav button {
  background: red;
  border: none;
  color: white;
  width: 60px;
  padding: 5px 10px;
  cursor: pointer;
}


h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.register-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 30%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-size: 14px;
}
/* Style the entire login container */
.login-container, .register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: aqua;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-title, .register-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.login-form input, .register-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-size: 14px;
}


/* Style the Sign-up link */
.signup-text {
  margin-top: 15px;
  font-size: 14px;
}

.signup-link {
  color: rgb(20, 20, 18);
  cursor: pointer;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}

button {
  width: 30%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-size: 14px;
}
